

.no-padding {
    padding: 0;
}

.mybox {
    position: relative;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: black;
}
.links {
    position: relative;
    left: 0;
}