.jumbotron {
    background-image: url("/images/gaming-pc-cover.jpg");
    background-size: cover;
    color: white;
}

.no-padding {
    padding: 0;
}

.mybox {
    position: relative;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: black;
}