body {
    background-color: rgb(97, 97, 97);
    color: rgb(253, 253, 253);
    margin: 0;
}

div {
    background-color: red;
}

div.navbar {
    background-color: rgb(20, 20, 20);
    text-align: center;
}

ul.navbar > li {
    display: inline;
    margin: 0 20px 0 20px;
    text-transform: uppercase;
}

ul.navbar {
    margin: 0;
    padding: 1em 100px 1em 100px;
}

img.cover {
    width: 100%;
}

.jumbotron {
    background-image: url("/images/gaming-pc-cover.jpg");
    background-size: cover;
  }